<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AcmeShippingService" />
        <binding name="BasicHttpBinding_PayPalService" />
        <binding name="BasicHttpBinding_ContosoInventoryService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20810/AcmeShippingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AcmeShippingService"
        contract="ExternalServices.AcmeShippingService.AcmeShippingService"
        name="BasicHttpBinding_AcmeShippingService" />
      <endpoint address="http://localhost:21320/PayPalService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PayPalService"
        contract="ExternalServices.PayPalService.PayPalService" name="BasicHttpBinding_PayPalService" />
      <endpoint address="http://localhost:21345/ContosoInventoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContosoInventoryService"
        contract="ExternalServices.ContosoInventoryService.ContosoInventoryService"
        name="BasicHttpBinding_ContosoInventoryService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>